In [9]:
range(5)

range(0, 5)

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(2,5))

[2, 3, 4]

In [12]:
list(range(2,5,2))

[2, 4]

In [13]:
list(range(5,2,-1))

[5, 4, 3]

# LOOP

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
a=[2,3,42,1,5]

In [16]:
for i in a:
    print(i)

2
3
42
1
5

# formattting in string

In [18]:
a=5
b=6

In [19]:
"no {} and {}".format(a,b)

'no 5 and 6'

In [20]:
"no {1} and {0}".format(a,b)

'no 6 and 5'

new format string: FString

In [21]:
f"no {a} and {b}"

'no 5 and 6'

In [33]:
for i in range(1,11):
    mul=2*i
    print(f"2 * {i} = {mul}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [46]:
for i in range(2,6):
    print(f"Table of : {i}")
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}" )

Table of : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of : 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
for i in range(2,6):
    print(f"Table of : {i}")
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}" )
        if j==5:
            break

Table of : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
Table of : 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
Table of : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
Table of : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25