In [1]:
#prime number from 1-50
for i in range(2,50):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [2]:
#check whether the number is prime or not:
def is_prime(num):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                return f"{num}  is not prime number"
        return f"{num}  is prime number"
print(is_prime(48))
print(is_prime(47))

48  is not prime number
47  is prime number

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
#first method
','.join([str(i) for i in range(2000,3201) if i%7==0 and i%5!=0])

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

In [4]:
#2nd method
list=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        list.append(str(i))
','.join(list)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

In [5]:
#3rd method
def print_num(lower,upper):
    list=[]
    for i in range(lower,upper+1):
        if i%7==0 and i%5!=0:
            list.append(str(i))
    return ','.join(list)
print(print_num(2000,3200))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [6]:
def fact(number):
    if number>2:
        return(number*fact(number-1))
    return number
num=int(input("enter a number:"))
print(fact(num))

enter a number:8
40320

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [8]:
num=int(input("enter a number:"))
{i:i**2 for i in range(1,num+1)}

enter a number:8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [10]:
num=int(input("enter a number:"))
dic={}
for i in range(1,num+1):
    dic[i]=i**2
    
dic

enter a number:8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [23]:
number=input()
valid=number.split(',')
print(tuple(valid))
print(valid)

34,67,55,33,12,98
('34', '67', '55', '33', '12', '98')
['34', '67', '55', '33', '12', '98']

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [46]:
import math

def value(x):
    c=50
    h=30
    ans=[]
    d=x.split(',')
    for i in d:
        q=math.sqrt((2 * c * float(i))/h)
        ans.append(str(round(q)))
    return ','.join(ans)
n=input()
value(n)

100,150,180

'18,22,24'

In [49]:
ans=[]
num=[x for x in input().split(',')]
c,h=50,30
for d in num:
    q=math.sqrt((2 * c * float(d))/h)
    ans.append(str(round(q)))
','.join(ans)

100,150,180

'18,22,24'

In [11]:
a=[2,7,3,1,5,9]
k=12
for i in a:
    if k-i in a:
        print(f'the sum of {k-i} and {i} is {k}')
        break

the sum of 5 and 7 is 12

In [1]:
a=[2,7,3,1,5,9]

# Fibonacci sequence

Fibonacci sequence upot nth term

In [2]:
#number term
def fib(n):
    a,b=0,1
    if n<1:
        print("please enter positive number.")
        fib(int(input('Enter a positive number:')))
    elif n==1:
        print(f'Fibonacci sequence is {a}')
    else:
        print('Fibonacci sequence:')
        print(a)
        print(b)
        for i in range(2,n):
            c=a+b 
            a=b 
            b=c 
            print(c)

fib(int(input('Enter a number:')))

Enter a number:5
Fibonacci sequence upto 5:
0
1
1
2
3

In [1]:
#upto
def fib(n):
    a,b=0,1
    if n<0:
        print("please enter positive number.")
        fib(int(input('Enter a positive number:')))
    elif n==0:
        print(f'Fibonacci sequence upto {n} is {a}')
    else:
        print(f'Fibonacci sequence upto {n}:')
        print(a)
        print(b)
        while 1:
            c=a+b 
            if(c>n):
                break
            a=b 
            b=c 
            print(c)
            

fib(int(input('Enter a number:')))

Enter a number:0
Fibonacci sequence upto 0 is 0

import numpy as np
def sum_interval(values, start, stop):
    N = len(values)
    terms = np.zeros(N)

    for i in np.arange(start, stop + 1, 1):
        terms[i] = values[i]
        ans = np.sum(terms)
    return ans

def sum_triplets(values):
    N = len(values)
    terms = np.zeros(N)

    for i in range(0, N, 1):
        terms[i] = sum_interval(values, i, min(N-1,i+2))

    return terms

arr = np.array([10, 20, 30, 40, 50])
print(sum_triplets(arr))

In [62]:
my_list=[10, 20, 40, 40,50,10,30,10,40]
list=[]
for i in my_list:
    if i==my_list[0]:
        j=i
    else:
        list.append(i+j)
    j=i
    
max(list)

90

In [59]:
my_list=[10, 20, 40, 40, 50,10,20]
list=[]
count=0
for i in my_list:
    count+=1
    if i==my_list[0]:
        x=i
    elif i==my_list[1]:
        y=i
    else:
        list.append(x+y+i)
    x=i


list

IndexError: list index out of range

In [1]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return(fibo(n-1) + fibo(n-2))

[fibo(i) for i in range(5)]

[0, 1, 1, 2, 3]

In [48]:
def fibo_mind(func):
    adict = {}
    def inner(*args, **kwargs):
        if args not in adict:
            adict[args] = func(*args, **kwargs) 
            print(adict)
        return adict[args]
    return inner

In [49]:
def fib(n):
    if n<2:
        return n
    else:
        return fib(n - 1) + fib(n - 2)

In [50]:
fibo_num=fibo_mind(fib)

In [51]:
[fibo_num(i) for i in range(3)]

{(0,): 0}
{(0,): 0, (1,): 1}
{(0,): 0, (1,): 1, (2,): 1}

[0, 1, 1]

In [33]:
from functools import lru_cache   #least recently used u can also use cache 
@lru_cache(maxsize=5)
def fib(n):
    if n<2:
        return n
    else:
        return fib(n - 1) + fib(n - 2)

In [35]:
[fib(i) for i in range(0,100)]

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026]